<template>
    <div>
      <b-container fluid>
        <b-row>
          <b-col class="container">Halı Yıkama</b-col>

          <b-col cols="12">

            <p>&nbsp</p>

            <p>
              &nbsp&nbsp0 422 321 88 88 numaralı telefonumuzu arayarak siparişinizi verdikten sonra halılarınız kapınızdan ücretsiz servisimizle alınır.
              Alım işlemi sırasında siparişiniz ile alakalı tüm bilgilerin üzerinde yazılı olduğu bir makbuz servis elemanları tarafından
              size takdim edilirken aynı bilgilerde cep telefonunuza SMS olarak gönderilir.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbsp350 m2 kapalı 1000m2 yarı kapalı toplamda 1750m2 alana sahip fabrikamıza gelen halılarınız yıkama öncesi otomatik çırpma makinamızda
              çift taraflı çırpılarak tozlardan arındırıldıktan sonra yıkamaya hazır hale getirilir.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspHalılarınız yıkama öncesi dezenfekte ediltikten sonra tom otomatik halı yıkama makinesine verilir.
              Halınız öncelikle ön sulama ile ıslatılarak özel yapım KRS 100 halı şampuanı öncesi yumuşatılır. Bir sonraki aşamada
              4 disk fırça ile dakikada 7200 dokunuşla KRS 100 halı şampuanı halınızın her noktasına eşit nufüz edecek şekilde ovalanır.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspDaha sonraki aşamada her bir metrekareye ortalama 100 litre su gelecek şekilde 4 disk fırçalı durulamanın ilk aşaması
              tamamlanırken, halılarınızın tüm yüzeyi hiçbir deformasyon görmeden bir sonraki aşama için hazır hale gelmiştir.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspYıkamamızın üçüncü aşamasında 150 barlık fıskiye sistemi, 45 derecelik açı ile halınızın dibine kadar nufüz ederek tam durulama sağlamaktadır.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspYıkamanın son aşamada ise vakum sistemi ile halınızın yüzeyindeki su ve hav (halınızın üzerinde oluşan tüyler)
              temizlenerek sıkma işlemine hazır hale getirilir.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspDakikada 1400 devir ile dönen santrifüj makinalarla iki buçuk dakika sıkma işlemine tabi tutulan halılarınız %90 sudan arındırılır.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspSantrifüjden çıkan halılarınız kalite kontrol masasında ilk kontrolleri yapılarak, ya tekrar yıkama bölümüne yada kurutma aşamasına gönderilir.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspYaz aylarında açık alanda kurutulan halılarınız, yağışlı ve soğuk havalarda özel kurutma odamızda kurutularak en geç
              3 gün içerisinde teslim edilmektedir.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspKurutulan halılarınız toplanarak son kalite kontrol işlemi öncesinde otomatik hav alma makinası ile halılarınızın
              alt ve üstünde kalabilecek son tüy ve hav temizleme işlemi yapılır.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspHav alma makinasından çıkan halılarınız son kalite kontrol işlemi sonrasında paketlenerek teslimata hazır hale getirilir.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspTemizlenen halılarınız özel paketleriyle kapınıza kadar ücretsiz getirilerek teslim edilir.
            </p>

          </b-col>
        </b-row>
      </b-container>
    </div>
</template>

<script>
    export default {
        name: "hali_yikama"
    }
</script>

<style scoped>
  @import "../../static/css/hali_yikama.css";
</style>
