<template>
    <div>
      <b-container fluid>
        <b-row>
          <b-col class="container">Koltuk Yıkama</b-col>

          <b-col cols="12">

            <p>&nbsp</p>

            <p>
              <b-img src="../../static/img/koltuk1.jpg" fluid alt="Responsive image" class="img" align="left"></b-img>

              &nbsp&nbsp0 422 321 88 88 numaralı telefonumuzu arayarak siparişinizi verdikten sonra yıkama işlemi için randevu tarihi belirlenir.
            </p>

            <p>&nbsp</p>

            <p>
              <b-img src="../../static/img/koltuk2.jpg" fluid alt="Responsive image" class="img" align="right"></b-img>

              &nbsp&nbspBelirlenen gün ve saatte deneyimli personellerimiz yıkama işlemi için eviniz veya işyerinize gelirler.
              Koltuk ve kanepeleriniz yıkama öncesi özel ilaçlı su ile ıslatılarak dezenfekte edilirken, yıkamaya hazır hale getirilir. Islatılan koltuklarınız dakikada 1800 devir ile
              çalışan makinalarla ovalanarak temizlenir. Temizleme işleminin süresi koltuk ve kanepe sayısına göre değişmektedir.
              Yıkama işlemi sonrasında koltuklarınız endüstriyel makinalarımızlavakumlanarak %95 kuru bir vaziyette işlem tamamlanır.
            </p>

          </b-col>
        </b-row>
      </b-container>
    </div>
</template>

<script>
    export default {
        name: "koltuk_yikama"
    }
</script>

<style scoped>
  @import "../../static/css/koltuk_yikama.css";
</style>
