<template>
    <div>
      <b-container fluid>
        <b-row>
          <b-col class="container">Yorgan Yıkama</b-col>

          <b-col cols="12">

            <p>&nbsp</p>

            <p>
              <b-img src="../../static/img/yorgan1.jpg" fluid alt="Responsive image" class="img" align="left"></b-img>

              &nbsp&nbsp0 422 321 88 88 numaralı telefonumuzu arayarak siparişinizi verdikten sonra yorganlarınız kapınızdan ücretsiz servisimizle alınır.
              Alım işlemi sırasında siparişiniz ile alakalı tüm bilgilerin üzerinde yazılı olduğu bir makbuz servis elemanları tarafından size
              takdim edilirken aynı bilgilerde cep telefonunuza SMS olarak gönderilir.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspFabrikamıza getirilen yorgan ve battaniyeleriniz cinslerine göre (elyaf, yün, pamuk vb) tasnif edilerek özel ilaçlarıyla tam
              otomatik yorgan yıkama makinamıza atılır. Ortalama bir saat on beş dakika (75 dk) süren yıkama işlemi sonrasında özel yorgan
              kurutma makinasına atılır. Ortalama 40 dakika süren kurutma işlemi ile yorgan ve battaniyelerinizin yıkama işlemi tamamlanmış olur.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspTamamen kurutulan yorgan ve battaniyeleriniz özel paketlerine yerleştirildikten sonra kapınıza kadar getirilerek teslim edilir.
            </p>

          </b-col>
        </b-row>
      </b-container>
    </div>
</template>

<script>
    export default {
        name: "yorgan_yikama"
    }
</script>

<style scoped>
  @import '../../static/css/yorgan_yikama.css';
</style>
