.container{
  background: #fec901;
  padding : 50px;
  font-family: "DejaVu Sans",sans-serif;
  font-size: 72px;
  font-weight: bold;
}
.inputx{
  width: 60%;
  margin-left: 40px;
}
.textarea{
  margin-left: 40px;
  width: 80%;
}
.intro{
  margin-left: 40px;
}
b{
  font-size: xx-large;
}
.card{
  margin-top: 40px;
}
.fa-facebook-f{
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 3px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  float: left;
  margin: 0 6px 6px 0;
}
.fa-instagram{
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 3px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  float: left;
  margin: 0 6px 6px 0;
}
.fa-facebook-f:hover{
  color: #fec901;
}
.fa-instagram:hover{
  color: #fec901;
}
@media screen and (max-width : 481px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 35px;
  }
  .inputx{
    width: 100%;
  }
  .textarea{
    width: 100%;
  }
  .intro{
    width: 100%;
  }
  .card{
    margin-bottom: 20px;
  }
}

@media screen and (width: 640px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 60px;
  }
  .inputx{
    width: 100%;
  }
  .textarea{
    width: 100%;
  }
  .intro{
    width: 100%;
  }
}

@media screen and (width: 600px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 60px;
  }
  .inputx{
    width: 80%;
  }
  .textarea{
    width: 80%;
  }
  .intro{
    width: 80%;
  }
}
