
.inline-border{
  position: relative;
  display: block;
  margin: 20px 0 40px;
  color: #757575;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 200;
}
.inline-border:before, .inline-border:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25%;
  height: 1px;
  background: #ececec;
  content: '';
}
.inline-border:after {
  right: 0;
  left: auto;
}
.content-card{
  font-size: 0.9rem!important;
  margin-bottom: 10px;
  font-weight: bold;
}
.animation{
  width: 1170px;
  height: 400px;
  padding-top: 20px;
}
.iframe-anim{
  width: 1170px;
  height: 400px;
  overflow: hidden;
}

@media screen and (max-width: 481px){
  .animation{
    width: auto;
    height: auto;
    padding-top: 20px;
  }
  .iframe-anim{
    width: auto;
    height: auto;
    overflow: hidden;
  }
}
@media screen and (width: 600px){
  .animation{
    width: auto;
    height: auto;
    padding-top: 20px;
  }
  .iframe-anim{
    width: auto;
    height: auto;
    overflow: hidden;
  }
}
@media screen and (width: 640px){
  .animation{
    width: auto;
    height: auto;
    padding-top: 20px;
  }
  .iframe-anim{
    width: auto;
    height: auto;
    overflow: hidden;
  }
}
@media screen and (width: 768px){
  .animation{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 40px;
  }
  .iframe-anim{
    width: 690px;
    height: 200px;
    overflow: hidden;
  }
}
@media screen and (width: 1024px){
  .animation{
    width: auto;
    height: auto;
    padding-top: 20px;
  }
  .iframe-anim{
    width: 950px;
    height: 400px;
    overflow: hidden;
  }
}
