.container{
  background: #fec901;
  padding : 50px;
  font-family: "DejaVu Sans",sans-serif;
  font-size: 72px;
  font-weight: bold;
}

@media screen and (max-width : 481px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 35px;
  }
}

@media screen and (width: 640px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 60px;
  }
}

@media screen and (width: 600px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 60px;
  }
}
