.container{
  background: #fec901;
  padding : 50px;
  font-family: "DejaVu Sans",sans-serif;
  font-size: 72px;
  font-weight: bold;
}
p{
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 15px;
}
.img{
  max-width: 40%;
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width : 481px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 25px;
  }
}

@media screen and (width: 640px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 45px;
  }
}

@media screen and (width: 600px) {
  .container{
    padding : 50px 50px 50px 30px;
    font-size: 45px;
  }
}
