<template>
  <html>
  <p>© 2019 Destek Bilişim</p>
  </html>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
  p {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 0.8em;
    width: 100%;
    color: #000000;
    text-align: left;
    position: relative;
  }
</style>
