<template>
  <div>
      <b-navbar id="headerSticky" toggleable="lg" variant="warning">
<b-col cols="5">
        <b-navbar-brand href="/" id="navSticky" ><b>Kent </b><span style="color:#fff; font-weight: 800">Halı Yıkama</span></b-navbar-brand>
</b-col>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>

              <b-col cols="12" class="ml-auto">
          <b-navbar-nav>

            <b-nav-item-dropdown text="Hakkımızda" class="navbarx">
              <b-dropdown-item href="/hakkimizda">Hakkımızda</b-dropdown-item>
              <b-dropdown-item href="/sanal_gezinti">360° Sanal Gezinti</b-dropdown-item>
            </b-nav-item-dropdown>

            <!-- //tıklanabilen hakkımızda butonu mobilde patlıyor
            <li class="dropdown" style="padding-top: 8px;">
              <a href="/hakkimizda" class="dropdown-toggle" data-toggle="dropdown" style="color: rgba(0,0,0,0.5)">
                <span style="color: rgba(0,0,0,0.5)">Hakkımızda</span></a>
              <ul class="dropdown-menu">
                <li><a href="/sanal_gezinti"><span style="color: rgba(0,0,0,1);padding-left: 10px">360° Sanal Gezinti</span></a></li>
              </ul>
            </li>
                    -->
            <b-nav-item-dropdown text="Hizmetlerimiz" class="navbarx">
              <b-dropdown-item href="/hizmetlerimiz/hali_yikama">Halı Yıkama</b-dropdown-item>
              <b-dropdown-item href="/hizmetlerimiz/koltuk_yikama">Koltuk Yıkama</b-dropdown-item>
              <b-dropdown-item href="/hizmetlerimiz/yorgan_yikama">Yorgan Yıkama</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item href="/fiyatlarimiz" class="navbarx">Fiyatlarımız</b-nav-item>
            <b-nav-item href="/pratik_bilgiler" class="navbarx">Pratik Bilgiler</b-nav-item>
            <b-nav-item href="/iletisim" class="navbarx">İletişim</b-nav-item>

          </b-navbar-nav>
              </b-col>

         </b-collapse>

        <b-row>
          <b-col class="intervalText" sm>{{ intervalText[0] }}</b-col>
        </b-row>

      </b-navbar>
        <a href="https://api.whatsapp.com/send?phone=905325844744" target="_blank" class="fab fa-whatsapp"
        v-b-popover.hover="'Bizimle Hemen İletişime Geçmek İçin Tıklayın'" title="Whatsapp İletişim"></a>
  </div>
</template>

<script>

    export default {
      name: "HeaderBar",
      data(){
        return{
          intervalText : ['0422 321 88 88','0532 334 99 40'],
        }
      },
      mounted() {
        setInterval(() => {
          this.flashText();
        }, 5000);
        this.stickyHeader();
      },
      methods: {
        flashText(){
          const first = this.intervalText.shift();
          this.intervalText = this.intervalText.concat(first);
        },
        stickyHeader(){
          window.onscroll = function() {myFunction()};

          const header = document.getElementById("headerSticky");
          const nav = document.getElementById("navSticky");

          function myFunction() {
            if (window.pageYOffset >= 100) {
              header.classList.add("sticky");
              nav.classList.add('stickyNav');
            } else {
              header.classList.remove("sticky");
              nav.classList.remove('stickyNav');
            }
          }
        }
      },
    }
</script>
<style>
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbarx{
    font-family: 'Poppins';
  }
  a{
    color: #333333!important;
  }
  #headerSticky {
    z-index: 20000;
    height: 100px;
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    /*top: 0;*/
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px!important;
    transition: all 0.6s ease-in-out;
    font-size: 15px;
  }
  .stickyNav{
    font-size: x-large !important;
  }
  #navSticky{
    font-family: 'Poppins';
    font-size: 50px;
    margin-left: 40px;
  }
  .intervalText{
    color: red;
    font-size: larger;
    font-family: 'Poppins';
    font-weight: 800;
  }

  .fa-whatsapp{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    padding-top: 5px;
    background: #25D366;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    margin: 0 6px 6px 0;
    right: 0;
    bottom: 20px;
    position: fixed;
    z-index: 20000;
    font-size: 45px!important;
  }
  .fa-whatsapp:hover{
    color: black;
    text-decoration: none;
  }

  @media screen and (max-width: 481px){
    #navSticky{
      font-size: larger;
      margin-left: 0;
    }
    .stickyNav{
      font-size: medium !important;
    }
    #headerSticky {
      height: auto;
    }
    .sticky {
      height: auto !important;
    }
    .intervalText{
      color: red;
      font-size: x-large;
      margin-left: 15px;
    }
  }

  @media screen and (width: 640px){
    #navSticky{
      font-size: larger;
      margin-left: 0;
    }
    .stickyNav{
      font-size: medium !important;
    }
    #headerSticky {
      height: auto;
    }
    .sticky {
      height: auto !important;
    }
    .intervalText{
      color: red;
      font-size: x-large;
      margin-left: 15px;
    }
  }

  @media screen and (max-width: 600px){
    #navSticky{
      font-size: larger;
      margin-left: 0;
    }
    .stickyNav{
      font-size: medium !important;
    }
    #headerSticky {
      height: auto;
    }
    .sticky {
      height: auto !important;
    }
    .intervalText{
      color: red;
      font-size: x-large;
      margin-left: 15px;
    }
  }
  @media screen and (width: 1024px) and (height: 1366px){
    #navSticky{
      font-size: larger;
      margin-left: 40px;
    }
    .stickyNav{
      font-size: medium !important;
    }
    .intervalText{
      color: red;
      font-size: large;
      margin-left: 15px;
    }
  }
  @media screen and (width: 768px){
    #navSticky{
      font-size: larger;
      margin-left: 0;
    }
    .stickyNav{
      font-size: medium !important;
    }
    #headerSticky {
      height: auto;
    }
    .sticky {
      height: auto !important;
    }
    .intervalText{
      color: red;
      font-size: x-large;
      margin-left: 15px;
    }
  }

  @media screen and (width: 1024px){
    #navSticky{
      font-size: 40px;
      margin-left: 0;
    }
    .stickyNav{
      font-size: xx-large !important;
    }
    #headerSticky {
      height: auto;
    }
    .sticky {
      height: auto !important;
    }
    .intervalText{
      color: red;
      font-size: large;
    }
  }
  @media screen and (width:1280px ){
    .intervalText{
      font-size: large;
    }
  }
</style>
