<template>
  <no-ssr>
  <div>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <Header/>
    <b-container style="padding-top: 20px">
    <nuxt/>
    </b-container>
    <Footer/>
  </div>
  </no-ssr>
</template>
<script>
  import Header from '@/components/Header'
  import Footer from '@/components/Footer'
  export default{
    components:{
      Header,
      Footer
    }
  }
</script>
<style>
  html{
    background: #fec901;
  }

</style>
