<template>
    <div>
      <b-container fluid>
        <b-row>
          <b-col class="container">Fiyatlarımız</b-col>

          <b-col cols="12">

          <b-table striped hover :items="items"></b-table>

          </b-col>
        </b-row>
      </b-container>
    </div>
</template>
<script>
    export default {
        name: "fiyatlarimiz",
      data(){
          return{
            items:[
              {tür: 'Makina Halısı (m²)',fiyat:'4.50 ₺' },
              {tür: 'Isparta Halısı',fiyat:'4.50 ₺' },
              {tür: 'Yün',fiyat:'4.50 ₺' },
              {tür: 'Bünyan',fiyat:'4.50 ₺' },
              {tür: 'El Dokuma'	,fiyat:'4.50 ₺' },
              {tür: 'Ladik',fiyat:'4.50 ₺' },
              {tür: 'Hereke',fiyat:'4.50 ₺' },
              {tür: 'Hint Kilimi',fiyat:'4.50 ₺' },
              {tür: 'El Dokuma Kilim',fiyat:'4.50 ₺' },
              {tür: 'Nepal',fiyat:'4.50 ₺' },
              {tür: 'Şagi',fiyat:'4.50 ₺' },
              {tür: 'Step',fiyat:'4.50 ₺' },
              {tür: 'Pelüş',fiyat:'4.50 ₺' },
              {tür: 'Samur',fiyat:'4.50 ₺' },
              {tür: 'İpek',fiyat:'4.50 ₺' },
              {tür: 'Çin',fiyat:'4.50 ₺' },
              {tür: 'İran',fiyat:'4.50 ₺' },
              {tür: 'Yörük',fiyat:'4.50 ₺' },
              {tür: 'Yorgan Tek Kişilik',fiyat:'25.00 ₺' },
              {tür: 'Battaniye Tek Kişilik ',fiyat:'15.00 ₺' },
              {tür: 'Yorgan Çift Kişilik',fiyat:'30.00 ₺' },
              {tür: 'Battaniye Çift Kişilik',fiyat:'20.00 ₺' },
              {tür: 'Yerinde Koltuk Yıkama (7 Kişilik)',fiyat:'90.00 ₺' },
              {tür: 'Kanepe',fiyat:'30.00 ₺' },
              {tür: 'Yerinde Halı Yıkama',fiyat:'6.00 ₺' },
              {tür: 'Duvardan Duvara Halı Yıkama',fiyat:'6.00 ₺' },
              {tür: 'Overlok',fiyat:'3.00 ₺' },
            ]
          }
      }
    }
</script>

<style scoped>
  @import "../static/css/fiyatlarimiz.css";
</style>
