<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="container">Hakkımızda</b-col>

         <b-col cols="12">
            <p>&nbsp</p>

            <p>
              &nbsp&nbsp1978 yılında Kent kuru temizleme adı altında hizmete başlayan firmamız, 2008 yılında halı yıkama sektörüne girmiştir.
              2013 yılında İnanç kardeşlerin devraldığı firmamız kuru temizleme sektöründeki faaliyetlerine son vererek tamamen halı yıkama üzerine yoğunlaşmıştır.
            </p>

            <p>&nbsp</p>

            <p>
              &nbsp&nbspYıllık ortalama 100.000 TL sermaye artırımı ile demirbaş envanterini 4 katına çıkartırken tüm makina parkurunu genişleterek yenilemiştir.
              Sektöründe vizyonel bakış açısı ile farkını hissettiren firmamız bir çok konuda bölgenin öncüsü konumuna gelmiştir.
            </p>

           <p>&nbsp</p>

            <p>
              &nbsp&nbspKent Halı Yıkama devrelma işlemi sonrasında:
            </p>

            <p>
              &nbsp&nbsp2013 yılında faaliyet alanını 750m2'den 1750m2'ye çıkarmıştır.
            </p>

            <p>
              &nbsp&nbsp2014 yılında kurutma odasını faaliyete geçirmiştir.
            </p>

            <p>
              &nbsp&nbsp2015 yılında halı yıkama makinası başta olmak üzere tüm makina parkurunu yenilemiştir.
            </p>

            <p>
              &nbsp&nbsp2016 yılında halı çırpma makinası, hav alma makinası ve tam otomatik halı yıkama makinası ile pakina parkurunu güçlendirmiştir.
            </p>

           <p>&nbsp</p>

            <p>
              &nbsp&nbspKent Halı Yıkama, 2016 yılında kurulan MAPHDER (Malatya Profesyonel Halı Yıkamacılar Derneği) kurucu üyeliğini üstlenmiştir.
              Ayrıca firmamız 2015 yılından bu yana HYF(Halı Yıkamacılar Federasyonu) üyesidir.
            </p>

         </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
    export default {
        name: "hakkimizda"
    }
</script>

<style scoped>
  @import '../static/css/hakkimizda.css';
</style>
