<template>
    <div>
      <b-container fluid>
        <b-row>
          <b-col class="container">İletişim</b-col>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25036.001177191756!2d38.276543346886484!3d38.33740450797409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb8b9e6028665376!2sMalatya+Kent+Hal%C4%B1+Y%C4%B1kama!5e0!3m2!1str!2str!4v1561628620017!5m2!1str!2str"
            width="1110" height="600" frameborder="0" style="margin-top: 40px;border:0" allowfullscreen></iframe>

          <b-col cols="8">
            <p>&nbsp</p>
            <p class="intro"><b>İletişim Formu</b></p>

            <p class="intro">Tüm istek, dilek ve şikayetlerinizi aşağıdaki form ile bize bildirebilirsiniz.</p>

            <form onsubmit="return false">

              <p>&nbsp</p>

              <b-form-input
                v-model="ad_soyad"
                type="text"
                placeholder="Adınız Soyadınız"
                class="inputx"></b-form-input>

              <p>&nbsp</p>

              <b-form-input
                v-model="email"
                type="text"
                placeholder="E-mail Adresiniz"
                class="inputx"></b-form-input>

              <p>&nbsp</p>

              <b-form-input
                v-model="konu"
                type="text"
                placeholder="Konu"
                class="inputx"></b-form-input>

              <p>&nbsp</p>

                <b-form-textarea
                  v-model="mesaj"
                  placeholder="Mesajınız"
                  rows="6"
                  max-rows="6" class="textarea"></b-form-textarea>

                <p>&nbsp</p>

                <b-button variant="outline-warning" style="margin-left: 40px" @click="iletisimPost">Gönder</b-button>

                <p>&nbsp</p>

            </form>
          </b-col>

          <b-col sm="4">
            <b-card class="card">
              <b-card-text>
                <p><b>İletişim Bilgileri</b></p>

                <p>
                  Sancaktar Mah. Battalgazi Cad. No:21 Topsöğüt Malatya
                </p>

                <p>
                  Telefon: (0422) 321 88 88
                </p>

                <p>
                  GSM: 0 532 334 99 40
                </p>

                <p>
                  info@kenthaliyikamamalatya.com
                </p>

                <p><b>Sosyal Medya</b></p>
                  <a href="https://www.facebook.com/kenthy44/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.facebook.com/kenthy44/" target="_blank"><i class="fab fa-instagram"></i></a>
              </b-card-text>
            </b-card>
          </b-col>

        </b-row>
      </b-container>
    </div>
</template>

<script>
  import axios from 'axios'
    export default {
        name: "iletisim",
      data() {
        return {
          ad_soyad  : '',
          email     : '',
          konu      : '',
          mesaj     : '',
        }
      },
      methods:{
        iletisimPost(){
          axios.post('',{
            ad_soyad : this.ad_soyad,
            email    : this.email,
            konu     : this.konu,
            mesaj    : this.mesaj,
          })
        }
      },
    }
</script>

<style scoped>
  @import "../static/css/iletisim.css";
</style>
