<template>
  <div>
  <b-carousel
    id="carousel-1"
    :interval="4000"
    controls
    indicators
    background="#ababab"
    img-width="1024"
    img-height="768"
    style="text-shadow: 1px 1px 2px #333;">

    <b-carousel-slide
      caption="First slide"
      text="Nulla vitae elit libero, a pharetra augue mollis interdum."
      img-src="https://picsum.photos/1024/480/?image=52"></b-carousel-slide>


    <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=54">
      <h1>Hello world!</h1>
    </b-carousel-slide>

    <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=58"></b-carousel-slide>

    <b-carousel-slide>
      <img
        slot="img"
        class="d-block img-fluid w-100"
        width="1024"
        height="480"
        src="https://picsum.photos/1024/480/?image=55"
        alt="image slot">
    </b-carousel-slide>

  </b-carousel>

    <div>

      <h3 style="text-align: center; margin-top: 20px">Malatya Kent Halı Yıkama Fabrikası</h3>
      <p style="margin-left: 25px">
        &nbsp&nbspKent Malatya halı yıkama fabrikası olarak 10 yılı aşkın süredir siz değerli müşterilerimize hizmet vermektedir.
        Türkiye'nin en iyi halı yıkama ürünlerini siz değerli Malatyalı hemşehrilerimizin hizmetine sunuyoruz.
        Ücretsiz servis ağımız ile Malatya merkez, <b>Yeşilyurt </b> ve <b>Battalgazi </b> ilçelerine
        profesyonel olarak halı yıkama, yorgan yıkama, halı temizleme, koltuk yıkama, overlok, stor perde yıkama ve yerinde yıkama hizmeti veriyoruz.
        Malatyada her yıl binlerce müşterimize en kaliteli hizmeti sunuyoruz.
      </p>

    </div>

    <div><h3 class="inline-border">Halılarınızın Yıkanma Aşamaları</h3></div>

    <b-container>
      <b-row>

        <b-col>
          <b-card>
            <b-card-text>
              <h3 class="inline-border">Çırpma</h3>
              <b-embed
                type="iframe"
                aspect="16by9"
                src="https://www.youtube.com/embed/8RufKQA68JU"
                allowfullscreen></b-embed>
            </b-card-text>
          </b-card>
        </b-col>


        <b-col>
          <b-card>
            <b-card-text>
              <h3 class="inline-border">Yıkama</h3>
              <b-embed
                type="iframe"
                aspect="16by9"
                src="https://www.youtube.com/embed/QHkz_6o4adM"
                allowfullscreen></b-embed>
            </b-card-text>
          </b-card>
        </b-col>

      </b-row>
    </b-container>

    <b-container style="margin-top: 20px">
      <b-row>

        <b-col>
          <b-card>
            <b-card-text>
              <h3 class="inline-border">Kurutma</h3>
              <b-embed
                type="iframe"
                aspect="16by9"
                src="https://www.youtube.com/embed/-aaKWzuSKJk"
                allowfullscreen></b-embed>
            </b-card-text>
          </b-card>
        </b-col>

        <b-col>
          <b-card>
            <b-card-text>
              <h3 class="inline-border">Paketleme</h3>
              <b-embed
                type="iframe"
                aspect="16by9"
                src="https://www.youtube.com/embed/MiEYNqECDIU"
                allowfullscreen></b-embed>
            </b-card-text>
          </b-card>
        </b-col>

      </b-row>
    </b-container>
    <h1 style="text-align: center;margin-top: 40px;margin-bottom: 40px">Halı Yıkama ve Temizleme Hizmetleri</h1>
    <b-container>
      <b-row>

        <b-col>
          <b-card-group>

          <b-card
            title="Halı Yıkama">

            <b-card-text>
              Halı yıkama konusunda Malatya Kent halı yıkama fabrikası olarak profesyonel ekibimiz haftanın 7 günü size hizmet vermektedir.
              Türkiyede tek olan 16 fırçalı makinamız ile halılarınız ortalama 300 litre su ve 1 litre şampuan ile en iyi halı yıkama hizmetini alabilirsiniz.
            </b-card-text>
            <b-button href="/hizmetlerimiz/hali_yikama" variant="warning">Detaylı Bilgi</b-button>
          </b-card>

          <b-card
            title="Perde Yıkama">
            <b-card-text>
              Evinize geliyor, perdelerinizi söküyor, alıyor, özel deterjanlarımızla temizliyor ve sizlere geri teslim ediyoruz.
              Dikey perdeler de kendi içerisinde iki kategoriye ayrılırlar, Plastik dikey perdeler ve kumaş dikey perdeler.
              İkisi de ayrı bakım ve temizlik isteyen farklı perde modelleridir. Bu nedenle nasıl yıkanacakları konusunda bilgili olunması gerekmektedir.
            </b-card-text>
            <b-button href="/hizmetlerimiz/hali_yikama" variant="warning">Detaylı Bilgi</b-button>
          </b-card>

          <b-card
            title="Yorgan Yıkama">
            <b-card-text>
              Değerli Müşterilerimiz Yorgan ve Battaniyeleriniz Tam Otamatik Makinalarımızda Özenle Temizlenir. Sağlığınız sağlığımızdır...
            </b-card-text>
            <b-button href="/hizmetlerimiz/hali_yikama" variant="warning">Detaylı Bilgi</b-button>
          </b-card>

          </b-card-group>
        </b-col>

      </b-row>
    </b-container>

      <div class="animation">
        <iframe src="http://yeni.kenthaliyikamamalatya.com/kent-animation/kenttt.html" frameborder="0" class="iframe-anim"></iframe>
      </div>

      <div><h3 class="inline-border" style="margin-top: 40px">Ücretsiz Ve Hızlı Servis</h3></div>

    <b-container>
      <b-row>

        <b-col>
          <b-card-group>

          <b-card
            class="content-card"
            bg-variant="warning"
            img-src="../static/img/c1.jpg"
            img-alt="Image">
          <b-card-text>Halıları Evinizden Alıyoruz</b-card-text>
          </b-card>

          <b-card
            class="content-card"
            bg-variant="warning"
            img-src="../static/img/c2.jpg"
            img-alt="Image">
            <b-card-text>Otomatik Makine İle Yıkıyoruz</b-card-text>
          </b-card>

          <b-card
            class="content-card"
            bg-variant="warning"
            img-src="../static/img/c3.jpg"
            img-alt="Image">
            <b-card-text>Kurutup - Paketliyoruz</b-card-text>
          </b-card>

          <b-card
            class="content-card"
            bg-variant="warning"
            img-src="../static/img/c1.jpg"
            img-alt="Image">
            <b-card-text>Tekrar Evinize Teslim Ediyoruz</b-card-text>
          </b-card>

          </b-card-group>
        </b-col>

      </b-row>
    </b-container>

  </div>
</template>

<script>
  export default {
    name:'main-page',
  }
</script>


<style scoped>
  @import "../static/css/main_page.css";
</style>
