<template>
    <div>
      <b-container fluid>
        <b-row>
          <b-col class="container">Pratik Bilgiler</b-col>

          <b-col cols="12">
            <p>&nbsp</p>

            <p><b>&nbsp&nbspEl ve Makina Halısı Kullanıcılarına Önerilerimiz:</b></p>

            <ul>

              <li>
                Halınızı silkelemeyiniz ve çırparak temizlemeye çalışmayınız.
              </li>

              <li>
                Uygun periodlarda elektirikli süpürgeyle zorlamadan süpürünüz.
              </li>

              <li>
                Halınızı asla silerek temizlemeye çalışmayınız.
              </li>

              <li>
                Ev tipi makinalarla yapacağınız ara temizliklerde yıkamadan sonra durulama yapınız.
              </li>

              <li>
                Herhangi bir leke oluştuğunda lekeye mümkün olduğunca kurutmadan ancak profesyonel bir firmanın vereceği bilgi doğrultusunda müdahale ediniz.
              </li>

            </ul>

            <p>&nbsp</p>

            <p><b>Aşağıdaki leke çıkartma kılavuzumuz size genel olarak bilgi vermektedir:</b></p>

            <ul>
              <li>
                Sivri ayaklı eşyaları halı üzerine mümkün olduğunca koymayınız.
              </li>

              <li>
                Halınızı güneş ışığına direk maruz bırakmayınız.Mümkünse 2-3 ayda  bir yönünü değiştirerek kullanınız.
              </li>

              <li>
                El dokuma halılarınızın bozulan saçaklarını,bozulma halının kendisine  inmeden onartmalısınız.Bu tür halılara overlok yaptırmak yerine
                orijinal saçak tercih etmelisiniz.
              </li>

              <li>
                Uygun zamanlarda ara temizlik yapmanız,halınızın hiç profesyonel temizlik istemeyeceği anlamına gelmez.Normal kullanımdaki bir halı
                temiz bile gözükse ortalama 7-10 ay arasında profesyonel bir firma  tarafından temizlenmelidir
              </li>
            </ul>

            <p>&nbsp</p>

            <p><b>Duvardan Duvara Halı Kullanıcılarına Tavsiyelerimiz:</b></p>

            <ul>
              <li>
                Duvardan duvara halı temizliğinde azami sonucu elde edebilmek için mümkün olduğunca halı yeni iken gerektiği
                şekillerde ve uygun periyodlar da çalışmalar  yapılması gerekir.
              </li>

              <li>
                Koruyucu tabaka uygulaması, Uygun aralıklarla süpürme, Toz ekstrasyonu yöntemiyle ara temizlik bunlardan bazılarıdır.
              </li>

              <li>
                Dikine tüylü halılar yeni iken hav verir.Bunu önlemeniz için bir süre temiz el süpürgesiyle basitçe değişik yönlerden süpürülmesi gerekir.
              </li>

              <li>
                Kullanılan halı duruma göre günlük veya gün aşırı süpürülerek oluşan kirlerin  mümkün olduğunca içine işlemesi önlenmelidir.
              </li>

              <li>
                Halı silinmemelilidir.Oluşabilecek lekelere mümkün olduğunca çabuk ve   profesyonel bir yardım alarak müdahale edilmelidir.
              </li>

              <li>
                Duvardan duvara halı,mümkün olduğunca olduğu yerde yıkatılmalıdır.
              </li>

              <li>
                Su basması durumunda halı yerinden oynatılmadan su çekilmeli ve akabinde   halı yıkanmalıdır.Eğer halının altında hava almasını
                engelleyici bir kaplama   malzemesi varsa ( naylon,fayans vb)mümkün   olduğu kadar halı altı  desteklenerek altının kurutulması sağlanmalıdır.
              </li>
            </ul>

            <p>&nbsp</p>

            <p><b>Lekeler ve çıkartma işlemleri hakkında tavsiyelerimiz:</b></p>

            <ul>
              <li>
                <b>Önemli Açıklama: </b>Bu kılavuz firmamızın ve bazı üretici firmaların çalışmalarından yola çıkılarak hazırlanmıştır.
                Uygulama sonrası olabilecek sonuçlardan firmamız sorumlu tutulamaz.
              </li>

              <li>
                Ayakkabı boyası Tinerle siliniz.Çıkmazsa beyaz ispirtoyla silip durulayınız
              </li>

              <li>
                Çay,kahve lekesi Şampuanla siliniz.Çıkmazsa %15 amonyaklı su ile siliniz
              </li>

              <li>
                Çikolata lekesi Suya % %amonyak ilave edip siliniz.Şampuanla silip durulayınız
              </li>

              <li>
                Çiklet lekesi Kazıdıktan sonra perkloretilen veya tinerle tamponlayıp siliniz
              </li>

              <li>
                Çimen lekesi Beyaz ispirtoyla siliniz.
              </li>

              <li>
                İlaç lekesi Perkloretilenle siliniz.Çıkmazsa % 10 amonyaklı su ile siliniz
              </li>

              <li>
                Küf lekesi % 5-10 amonyaklı su ile siliniz
              </li>

              <li>
                Kusmuk lekesi % 50 beyaz sirke karışımı su ile siliniz.Ardından şampuanla siliniz
              </li>

              <li>
                Meyve lekesi Ilık su ile siliniz
              </li>

              <li>
                Mum lekesi Kazıdıktan sonra perkloretilenle siliniz
              </li>

              <li>
                Mürekkep Lekeyi kurutmadan tamponlayınız.Saf limon suyuyla siliniz
              </li>

              <li>
                Parfüm lekesi Beyaz ispirtoyla siliniz
              </li>

              <li>
                Süt, yoğurt Şampuanla siliniz.Çıkmazsa beyaz ispirtoyla siliniz
              </li>

              <li>
                Tırnak cilası Asetonla siliniz
              </li>

              <li>
                Tükenmez Perkloetilenle siliniz
              </li>

              <li>
                Yumurta lekesi % 5 amonyaklı su ile silip durulayınuız.
              </li>
            </ul>

            <p>&nbsp</p>
            
          </b-col>
        </b-row>
      </b-container>
    </div>
</template>

<script>
    export default {
        name: "pratik_bilgiler"
    }
</script>

<style scoped>
  @import "../static/css/pratik_bilgiler.css";
</style>
