<template>
    <div>
      <b-container fluid>
        <b-row>
          <b-col class="container">360° Sanal Gezinti</b-col>

          <b-col cols="12">
            <p>&nbsp</p>

          </b-col>
        </b-row>
      </b-container>
    </div>
</template>

<script>
    export default {
        name: "sanal_gezinti"
    }
</script>

<style scoped>
  @import "../static/css/sanal_gezinti.css";
</style>
